@media only screen and (min-width: 1025px) {
  .my-carousel {
    height: 70vh;
  }
  .be-partner form .row {
    margin: 0 -30px;
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .subnav {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: .5rem 1rem;
  }
  .navbar .row {
    margin: 0;
  }
  .be-partner .row {
    margin: 0;
  }
  .be-partner form .row {
    margin: 0 -15px;
  }
  .city-list {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transform: none;
            transform: none;
    position: fixed;
    padding: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .city-list h2 {
    font-size: 1.5em;
    margin-top: 30px;
  }
  .city-list button {
    top: 10px;
    right: 30px;
  }
  .city-list div a {
    width: calc(50% - 30px);
    margin: 15px;
  }
  .shares-list {
    overflow-x: scroll;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 20px 15px 0;
  }
  .shares-list .shares-left {
    width: 300px;
  }
  .shares-list .shares-right {
    display: -webkit-box;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .shares-list .shares-right .shares-items {
    height: 100%;
    width: 300px;
  }
  .shares-list .shares-items .shares-caption {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    left: 0;
  }
  .shares-list .shares-items .shares-caption h5 {
    font-size: 1em;
    font-weight: 400;
    max-width: 80%;
    margin-bottom: 10px;
  }
  .shares .inner-shares a {
    width: 33.333333%;
  }
  .my-carousel {
    height: 100%;
  }
  .my-carousel .carousel-caption p {
    width: 100%;
    font-size: .8em;
  }
  .my-carousel .carousel-caption h5 {
    font-size: 1em;
  }
  #accordion .card-link {
    font-size: .9em;
    padding-right: 25px;
  }
  .category-list li img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .partners-main {
    width: calc(70% - 25px);
    margin-left: 25px;
  }
  .category-list {
    width: 30%;
  }
  .category-list li a {
    font-size: .7em;
  }
  #listOfPartners ul li {
    width: calc(50% - 8px);
  }
  .radio-cards1 label {
    width: calc(50% - 10px);
  }
  .be-partner .subtitle {
    font-size: .9em;
  }
}

@media only screen and (max-width: 768px) {
  .application-btn img {
    padding: 0;
  }
  .owl-carousel .item h4.carousel-title {
    font-size: 1.2em;
  }
  .owl-carousel .item h4 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .more-btn {
    font-size: .8em;
    padding: 5px 30px;
  }
  .shares-list {
    overflow-x: scroll;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 20px 15px 0;
  }
  .shares-list .shares-left {
    width: 200px;
  }
  .shares-list .shares-right {
    display: -webkit-box;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .shares-list .shares-right .shares-items {
    height: 100%;
    width: 200px;
  }
  .shares-list .shares-items .shares-caption {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    left: 0;
  }
  .shares-list .shares-items .shares-caption h5 {
    font-size: .9em;
    font-weight: 400;
    max-width: 90%;
    margin-bottom: 10px;
  }
  .inner-services .service-link img {
    height: 50px;
  }
  h4.section-title {
    font-size: 1.25em !important;
    width: 100%;
  }
  .become-partners h4 {
    font-size: 1em;
  }
  .btn-grp button {
    margin: 5px auto;
  }
  .application-btn {
    width: 40px;
    height: 40px;
  }
  .shares .inner-shares a {
    width: 50%;
  }
  .shares .inner-shares a h6 {
    font-size: 0.9em;
  }
  .table-tariff {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #listOfPartners ul img {
    width: 50px;
    height: 50px;
  }
  #listOfPartners ul p {
    font-size: .7em;
  }
}

@media only screen and (max-width: 576px) {
  h4.section-title {
    font-size: 0.9em !important;
  }
  .my-carousel {
    height: 40vh;
  }
  .my-carousel img {
    height: 100%;
  }
  .application-btn img {
    padding: 0;
  }
  .category-list li img {
    margin: 5px auto;
    width: 20px;
    height: 20px;
    display: block;
  }
  .partners-main {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 15px;
  }
  .partners-main h5 {
    font-size: 1em;
  }
  .category-list {
    width: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 15px 0;
    background-color: #fff;
  }
  .category-list li {
    text-align: center;
    border: 0.5px solid #eee;
    margin: 0;
    width: 33.333333%;
    padding: 10px;
  }
  .category-list li a {
    font-size: .6em;
  }
  .category-list li .active::after {
    display: none;
  }
  .category-list li:first-child {
    border: .5px solid #eee;
  }
  .categories-mobile .partners-main {
    display: none;
  }
  .partners-list .category-list, .branch-item .category-list {
    display: none;
  }
  .be-partner .subtitle {
    margin-top: 15px;
  }
  .input-group label {
    font-size: .85em;
  }
  .input-group input:focus + label,
  .input-group input:valid + label {
    font-size: 13px;
  }
}

@media only screen and (max-width: 350px) {
  .category-list li a {
    font-size: .5em;
  }
  .input-group label {
    font-size: .75em;
  }
  .input-group input:focus + label,
  .input-group input:valid + label {
    font-size: 11px;
    top: -8px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .shares-list .shares-left {
    width: 300px;
  }
  .shares-list .shares-right {
    display: -webkit-box;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .shares-list .shares-right .shares-items {
    height: 100%;
    width: 300px;
  }
  .shares-list .shares-items .shares-caption {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    left: 0;
  }
  .shares-list .shares-items .shares-caption h5 {
    font-size: 1em;
    font-weight: 400;
    max-width: 80%;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=media.css.map */