body {
    background: #f9f9f9;
    font-family: "Gilroy";
    color: #0b2a49;
}

a {
    text-decoration: none !important;
}
button {
    outline: none !important;
}
.navbar {
    background: #fff;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.15);
    z-index: 9999;
    padding: 0;
    .row {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo {
        max-width: 110px;
    }

    .navbar-brand {
        // padding: 0;
        margin: 0;
    }
    .active {
        color: #e20001;
    }
}

.application-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #e20001;
    padding: 10px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: ripple 3s ease-out infinite;
    img {
        max-width: 50px;
        width: 100%;
        padding: 5px;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        animation: ripple 3s ease-out infinite 3s;
    }
    &::after {
        animation: ripple 3s ease-out infinite 2s;
    }
}
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0.5rem rgba(248, 5, 5, 0.2);
    }
    100% {
        box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0);
    }
}

.menu-btn {
    border: none;
    background: none;
    display: none;
}

.menu {
    font-family: "Gilroy";
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left {
        display: flex;
        align-items: center;
        margin: 0;
        list-style: none;
        flex-wrap: nowrap;
        li {
            margin: 10px;
            a {
                color: #111;
                text-decoration: none;
                transition: color 0.2s;
                &:hover {
                    color: #e20001;
                }
            }
        }
    }
    &-right {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li {
            margin: 10px;
        }
        .login {
            color: #111;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            position: relative;
            &:hover {
                color: #e20001;
            }
        }
        img {
            width: 1.3em;
            margin: 0 5px 2px;
        }
    }
}

#city {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        color: #e20001;
    }
}

.lang-btn {
    border: none;
    background: none;
    position: relative;
    font-weight: 500;
    &:hover {
        color: #e20001;
    }
}

.city-list {
    display: none;
    position: absolute;
    z-index: 9999;
    width: calc(100% - 30px);
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 100px;
    top: 100px;
    h2 {
        text-align: center;
    }
    button {
        position: absolute;
        right: 110px;
        background: none;
        border: none;
        top: 35px;
        font-size: 2em;
    }
    div {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    a {
        margin: 20px;
        color: #333;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        &:hover {
            color: #e20001;
        }
    }
    .active {
        background: #e20001;
        padding: 5px 10px;
        text-align: center;
        color: #fff !important;
    }
}

.subnav {
    background: #e20001;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        padding: 10px 0;
        li {
            margin-right: 15px;
            a {
                color: #fff;
            }
        }
    }
}

.mobile-menu {
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 9999;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    .close-menu {
        border: none;
        background: none;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .first-menu {
        margin-top: 70px !important;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin: 10px 0;
            cursor: pointer;
            img {
                margin-right: 5px;
            }
            a,
            button,
            #city1 {
                color: #0b2a49;
                padding: 0;
                font-weight: 600;
            }
        }
    }
    #language-list {
        a {
            margin-right: 15px;
        }
    }
}

.shares-list {
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }
    .shares-items {
        overflow: hidden;
        position: relative;
        padding: 5px;
        .shares-caption {
            display: flex;
            position: absolute;
            z-index: 999;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            h5 {
                max-width: 70%;
                color: #fff;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
    .shares-image {
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }
    .image-overlay {
        position: absolute;
        left: 0;
        z-index: 99;
        height: 100%;
        width: 100%;
        transition: all 0.2s;
        background: rgba($color: #000000, $alpha: 0.3);
    }
    img {
        transition: all 0.2s;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
    }
    .shares-left {
        width: 60%;
    }
    .shares-right {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        .shares-items {
            height: 50%;
            width: 100%;
        }
    }
}

.owl-carousel {
    position: relative;
    .item {
        h4 {
            margin-bottom: 50px;
        }
    }
}
h4.section-title {
    position: relative;
    width: max-content;
    font-weight: 700;
    &::before {
        position: absolute;
        bottom: -10px;
        width: 70px;
        content: "";
        height: 1px;
        background: #e20001;
    }
}
.owl-dots {
    position: relative;
    span {
        background: none !important;
        border: 1px solid #e20001;
    }
    .active span {
        background: #e20001 !important;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            border: 1px solid #e20001;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}

.more-btn {
    background: #e20001;
    color: #fbfbfb;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #e20001;
    transition: all 0.2s;
    &:hover {
        color: #e20001;
        background: none;
    }
}
.scroll-wrapper {
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
.inner-services {
    width: 100%;
    .service-link {
        color: #0b2a49;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 100%;
        height: 100%;
        padding: 30px 0;
        flex-wrap: wrap;
        flex-direction: column;
        img {
            max-width: 120px;
            height: 70px;
            margin: 10px auto;
            transition: all 0.2s;
        }
        h5 {
            transition: all 0.2s;
        }
        &:hover img {
            transform: scale(1.1);
        }
        &:hover h5 {
            color: #e20001;
        }
    }
}
.partner-link {
    padding: 5px;
    img {
        padding: 3px;
        transition: all 0.2s;
        border: 1px solid transparent;
        border-radius: 50%;
    }
    &:hover img {
        border: 1px solid #e20001;
        transform: scale(1.1);
    }
}
.partners {
    h5 {
        font-size: 1.1em;
    }
}

.unired-mobile-section {
    img {
        width: 100%;
    }
    h4 {
        color: #e20001;
        &::before {
            content: unset;
        }
    }
    button {
        display: flex;
        align-items: center;
        &:hover path {
            transition: all 0.2s;
            fill: #e20001 !important;
        }
        svg {
            transition: all 0.2s;
            fill: #fff;
            margin-right: 10px;
        }
    }
}

.footer {
    border-top: 1px solid #ccc;
    padding: 30px 0;
    .phone-numbers {
        h5 {
            font-weight: 600;
        }
    }
    .social-icons {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: max-content;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            border: 1px solid transparent;
            width: 30px;
            height: 30px;
            padding-bottom: 2px;
            border-radius: 50%;
            transition: all 0.2s;
            &:hover {
                border: 1px solid #0b2a49;
            }
        }
        img {
            width: 20px;
        }
    }
}

.shares {
    h4 {
        font-size: 1.3em;
        font-weight: 700;
        color: #e20001;
        margin: 30px 0;
    }
    .inner-share {
        width: 100%;
        div {
            overflow: hidden;
        }
        img {
            width: 100%;
            transition: all 0.2s;
        }
        &:hover img {
            transform: scale(1.05);
        }
        &:hover h6 {
            color: #e20001;
        }
        h6 {
            color: #0b2a49;
            padding: 10px;
            text-align: center;
            transition: all 0.2s;
        }
    }

    .inner-shares {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        a {
            width: 25%;
            padding: 0 15px;
            display: block;
            div {
                overflow: hidden;
            }
            img {
                width: 100%;
                transition: all 0.2s;
            }
            &:hover img {
                transform: scale(1.1);
            }
            h6 {
                color: #0b2a49;
                padding: 15px;
                text-align: center;
            }
            &:hover h6 {
                color: #e20001;
            }
        }
    }
}

.pagination {
    margin: 30px 0;
}

.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-link {
    text-align: center;
    color: #e20001;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    svg {
        width: 20px;
    }
    &:hover {
        color: darken($color: #e20001, $amount: 5);
    }
}
.page-item.active .page-link {
    background: #e20001;
    color: #fff;
    border-color: #e20001;
}

.page-item:last-child .page-link {
    border-radius: 0 20px 20px 0;
    width: 45px;
}
.page-item:first-child .page-link {
    border-radius: 20px 0 0 20px;
    width: 45px;
}

.thumbnails {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
    overflow-x: auto;
    &::-webkit-scrollbar {
        margin-top: 10px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background: #e20001;
        border-radius: 50px;
    }
}
.thumbnails img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.7;
    filter: brightness(60%);
    margin: 10px 10px 0 0;
}

.mainImg {
    position: relative;
    transition: all 0.3s;
    img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        transition: all 0.2s;
        z-index: 99;
    }
    &:hover img {
        filter: brightness(70%);
        cursor: pointer;
    }
}

.thumbnails .active {
    opacity: 1;
    filter: brightness(100%);
}

.image-modal {
    position: fixed;
    z-index: 99999;
    left: 50%;
    width: 100%;
    height: 100%;
    top: 50%;
    display: none;
    text-align: center;
    transform: translate(-50%, -50%);
    .modal-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.5);
        z-index: 9;
    }
    img {
        top: 50%;
        transform: translateY(-50%);
        height: 90vh;
        width: 90%;
        object-fit: contain;
        position: relative;
        z-index: 99;
    }
}

.social-links {
    display: flex;
    a {
        margin: 0 5px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30px;
        height: 30px;
        justify-content: center;
        padding: 5px;
        &:hover {
            border: 1px solid #0b2a49;
        }
    }
    img {
        width: 20px;
    }
}

.info-page {
    h4 {
        font-weight: 700;
        color: #e20001;
        margin-bottom: 20px;
    }
    p {
        color: #0b2a49;
    }
}

.table-tariff {
    width: 100%;
    th {
        padding: 10px 20px;
        background-color: #e20001;
        color: #fff;
        font-weight: 500;
    }
    td {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }
    tr:hover {
        background-color: #f0f0f0;
    }
}

.my-carousel {
    width: 100% !important;
    .carousel-inner,
    .carousel-item {
        height: 100%;
    }
    img {
        filter: brightness(60%);
        object-fit: cover;
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        bottom: auto;
        p {
            width: 50%;
        }
    }
}

#accordion {
    .card {
        border-radius: 0;
        margin: 3px 0;
        &-header {
            border-radius: 0;
            background-color: #f9f9f9;
            border-bottom: 0;
        }
        &-link {
            color: #0b2a49;
            font-weight: 600;
            display: block;
            position: relative;
            &:after {
                content: " "; /* fa-chevron-down */
                position: absolute;
                background: url(../image/icons/chevron-down.svg);
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 26px;
                height: 26px;
                background-position: center;
                background-size: contain;
            }
            &[aria-expanded="true"]:after {
                content: " "; 
                position: absolute;
                background: url(../image/icons/chevron-up.svg);
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 26px;
                height: 26px;
                background-position: center;
                background-size: contain; /* fa-chevron-up */
            }
        }
        .card-body {
            border-top: 1px solid rgba(0, 0, 0, 0.125);
        }
    }
}

#accordion > a.card-link {
}
#accordion > a:after {
    content: url(../image/icons/chevron-down.svg); /* fa-chevron-down */
    position: absolute;
    right: 0;
}
#accordion > a[aria-expanded="true"]:after {
    content: url(../image/icons/chevron-up.svg); /* fa-chevron-up */
}

// #categories{
//     width: 25%;
// }

.category-list{
    list-style: none;
    padding: 0;
    margin: 0 0 50px 0;
    width: 25%;
    li{
        &:first-child{
            border-top: 1px solid #ccc;
        }
        margin: 5px 0;
        padding: 10px 5px;
        border-bottom: 1px solid #ccc;
        img{
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }
        a{
            color: #0b2a49;
            font-weight: 600;
            font-size: .8em;
            text-transform: uppercase;
            display: block;
            transition: all .2s;
            &:hover{
                color: #e20001;
            }
        }
        .active{
            color: #e20001;
            width: 100%;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 18px;
                height: 18px;
                background-size: contain;
                right: 5px;
                background-repeat: no-repeat;
                background-image: url(../image/icons/chevron-right1.svg);
            }
        }
    }
}

.partners-main{
    width: calc(75% - 40px);
    margin-left: 40px;
    position: relative;
    h5{
        img{
            width: 50px;
            margin-right: 10px;
        }
    }
    h6{
        a{
            color: #0b2a49;
            transition: all .2s;
            &:hover{
                color: #e20001;
            }
        }
    }
}
.search-partner{
    position: relative;
    img{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 1.5em;
    }
    input{
        width: 100%;
        padding: 10px 10px 10px 45px;
        border-radius: 0;
        border: none;
        background-color: #eeeeee;
        outline: none;
        
    }
}

#searchResults{
    position: absolute; 
    background-color: #fff;
    width: 100%;
    z-index: 99;
    margin: 10px 0;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        a{
            display: block;
            background-color: #fff;
            padding: 10px 20px;
            color: #0b2a49;
            font-weight: 600;
            margin: 2px 0;
        }
        img{
            width: 40px;
            height: 40px;
            padding: 2px;
            margin-right: 20px;
            border: 1px solid #ccc;
            border-radius: 50%;
        }
    }
}

#listOfPartners{
    width: 100%;
    z-index: 99;
    margin: 10px 0;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        li{
            margin: 4px;
            width: calc(33.333333333% - 8px);
            text-align: center;
        }
        a{
            display: block;
            background-color: #EEEEEE;
            padding: 10px;
            color: #0b2a49;
            font-weight: 600;
            transition: all .2s;
            &:hover{
                color: #e20001;
                box-shadow: inset 0 0 4px 1px #ccc;
            }
        }
        img{
            width: 70px;
            height: 70px;
            padding: 2px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 50%;
        }
    }
}

#map{
    width: 100%;
    height: 60vh;
    min-height: 300px;
}

@import "media.scss";
