body{
    background: #F9F9F9;
    font-family: "Gilroy";
    color: #0B2A49;
}

a{
    text-decoration: none!important;
}
button{
    outline: none!important;
}
.navbar{
    background: #fff;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: .15);
    z-index: 9999;
    padding: 0;
    .row{
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo{
        max-width: 110px;
    }

    .navbar-brand{
        // padding: 0;
        margin: 0;
    }
}

.menu-btn{
    border: none;
    background: none;
    display: none;
}

.menu{
    font-family: "Gilroy";
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
        display: flex;
        align-items: center;
        margin: 0;
        list-style: none;
        flex-wrap: nowrap;
        li{
            margin: 10px;
            a{
                color: #111;
                text-decoration: none;
                transition: color .2s;
                &:hover{
                    color: #E20001;
                }
            }
        }
    }
    &-right{
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            margin: 10px;
        }
        .login{
            color: #111;
            transition: all .2s;
            -webkit-transition: all 0.2s;
            position: relative;
            &:hover{
                color: #E20001;
            }
            
        }
        img{
            width: 1.3em;
            margin: 0 5px 2px;
        }
    }
}

#city{
    cursor: pointer;
    transition: all .2s;
    &:hover{
        color: #E20001;
    }
}

.lang-btn{
    border: none;
    background: none;
    position: relative;
    font-weight: 500;
    &:hover{
        color: #E20001;
    }
}

.city-list{
    display: none;
    position: absolute;
    z-index: 9999;
    width: calc( 100% - 30px );
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 100px;
    top: 100px;
    h2{
        text-align: center;
    }
    button{
        position: absolute;
        right: 110px;
        background: none;
        border: none;
        top: 35px;
        font-size: 2em;
    }
    div{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    a{
        margin: 20px;
        color: #333;
        transition: all .2s;
        -webkit-transition: all 0.2s;
        &:hover{
            color: #E20001;
        }
    }
    .active{
        background: #E20001;
        padding: 5px 10px;
        text-align: center;
        color: #fff!important;
    }
}

.subnav{
    background: #E20001;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        padding: 10px 0;
        li{
            margin-right: 15px;
            a{
                color: #fff;
            }
        }
    }
}

.mobile-menu{
    display: none;
    position: fixed;
    z-index: 9999;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    .close-menu{
        border: none;
        background: none;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .first-menu{
        margin-top: 70px!important;
    }
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            margin: 10px 0;
            img{
                margin-right: 5px;
            }
            a, button, #city1{
                color: #0B2A49;
                padding: 0;
                font-weight: 600;
            }
        }
    }
    #language-list{
        a {
            margin-right: 15px;
        }
    }
}

.shares-list{
    margin-top: 20px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: nowrap;
    .shares-items{
        overflow: hidden;
        position: relative;
        padding: 5px;
        .shares-caption{
            display: flex;
            position: absolute;
            z-index: 999;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            h5{
                max-width: 70%;
                color: #fff;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        &:hover img{
            transform: scale(1.1);
        }
    }
    .shares-image{
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    }
    .image-overlay{
        position: absolute;
        left: 0;
        z-index: 99;
        height: 100%;
        width: 100%;
        transition: all .2s;
        background: rgba($color: #000000, $alpha: .3);
    }
    img{
        transition: all .2s;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
    }
    .shares-left{
        width: 60%;
    }
    .shares-right{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        .shares-items{
            height: 50%;
        }
    }
}

.owl-carousel{
    position: relative;
    .item{
        h4{
            margin-bottom: 50px;
        }
    }
}
h4.section-title{
    position: relative;
    width: max-content;
    font-weight: 700;
    &::before{
        position: absolute;
        bottom: -10px;
        width: 70px;
        content: "";
        height: 1px;
        background: #E20001;
    }
}
.owl-dots{
    position: relative;
    span{
        background: none!important;
        border: 1px solid #E20001;
    }
    .active span{
        background: #E20001!important;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            border: 1px solid #E20001;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}

.more-btn{
    background: #E20001;
    color: #fbfbfb;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid #E20001;
    transition: all .2s;
    &:hover{
        color: #E20001;
        background: none;
    }
}
.scroll-wrapper{
    overflow-x: auto;
}
.inner-services{
    width: 100%;
    .service-link{
        color: #0B2A49;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 100%;
        height: 100%;
        padding: 30px 0;
        flex-wrap: wrap;
        flex-direction: column;
        img{
            max-width: 120px;
            height: 70px;
            margin: 10px auto;
            transition: all .2s;
        }
        h5{
            transition: all .2s;
        }
        &:hover img{
            transform: scale(1.1);
        }
        &:hover h5{
            color: #E20001;
        }
    }
}
.partner-link{
    padding: 5px;
    img{
        padding: 3px;
        transition: all .2s;
        border: 1px solid transparent;
        border-radius: 50%;
    }
    &:hover img{
        border: 1px solid #E20001;
        transform: scale(1.1);
    }
}
.partners{
    h5{
        font-size: 1.1em;
    }
}

.unired-mobile-section{
    img{
        width: 100%;
    }
    h4{
        color: #E20001;
        &::before{
            content: unset;
        }
    }
    button{
        display: flex;
        align-items: center;
        &:hover path{
            transition: all .2s;
            fill: #E20001!important;
        }
        svg{
            transition: all .2s;
            fill: #fff;
            margin-right: 10px;
        }
    }
}

.footer{
    border-top: 1px solid #ccc;
    padding: 30px 0;
    .phone-numbers{
        h5{
            font-weight: 600;
        }
    }
    .social-icons{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        width: max-content;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            border: 1px solid transparent;
            width: 28px;
            height: 28px;
            padding-bottom: 2px;
            border-radius: 50%;
            transition: all .2s;
            &:hover{
                border: 1px solid #0B2A49;
            }
        }
    }
}

@import 'media.scss';