* {
  scroll-behavior: smooth;
}

body {
  background: #f9f9f9;
  font-family: "Gilroy";
  color: #0b2a49;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

button {
  outline: none !important;
}

.application-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #e20001;
  padding: 10px;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-animation: ripple 3s ease-out infinite;
          animation: ripple 3s ease-out infinite;
}

.application-btn img {
  max-width: 50px;
  width: 100%;
  padding: 5px;
}

.application-btn::before, .application-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-animation: ripple 3s ease-out infinite 3s;
          animation: ripple 3s ease-out infinite 3s;
}

.application-btn::after {
  -webkit-animation: ripple 3s ease-out infinite 2s;
          animation: ripple 3s ease-out infinite 2s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0.5rem rgba(248, 5, 5, 0.2);
            box-shadow: 0 0 0 0.5rem rgba(248, 5, 5, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0.5rem rgba(248, 5, 5, 0.2);
            box-shadow: 0 0 0 0.5rem rgba(248, 5, 5, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 2.5rem rgba(255, 255, 255, 0);
  }
}

.navbar {
  background: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  padding: 0;
}

.navbar .row {
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  max-width: 110px;
}

.navbar .navbar-brand {
  margin: 0;
}

.navbar .active {
  color: #e20001;
}

.menu-btn {
  border: none;
  background: none;
  display: none;
}

.menu {
  font-family: "Gilroy";
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  list-style: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu-left li {
  margin: 10px;
}

.menu-left li a {
  color: #111;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu-left li a:hover {
  color: #e20001;
}

.menu-right {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.menu-right li {
  margin: 10px;
}

.menu-right .login {
  color: #111;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  position: relative;
}

.menu-right .login:hover {
  color: #e20001;
}

.menu-right img {
  width: 1.3em;
  margin: 0 5px 2px;
}

.dropdown-menu {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.lang-btn {
  border: none;
  background: none;
  position: relative;
  font-weight: 500;
}

.lang-btn:hover {
  color: #e20001;
}

.subnav {
  background: #e20001;
}

.subnav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 10px 0;
}

.subnav ul li {
  margin-right: 15px;
}

.subnav ul li a {
  color: #fff;
}

.mobile-menu {
  overflow: auto;
  display: none;
  position: fixed;
  z-index: 9999;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.mobile-menu .close-menu {
  border: none;
  background: none;
  position: absolute;
  top: 30px;
  right: 30px;
}

.mobile-menu .first-menu {
  margin-top: 70px !important;
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu ul li {
  margin: 10px 0;
  cursor: pointer;
}

.mobile-menu ul li img {
  margin-right: 5px;
}

.mobile-menu ul li a,
.mobile-menu ul li button,
.mobile-menu ul li #city1 {
  color: #0b2a49;
  padding: 0;
  font-weight: 600;
}

.mobile-menu #language-list a {
  margin-right: 15px;
}

#city {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#city:hover {
  color: #e20001;
}

.city-list {
  display: none;
  position: absolute;
  z-index: 9999;
  width: calc(100% - 30px);
  background: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 40px 100px;
  top: 100px;
}

.city-list h2 {
  text-align: center;
}

.city-list button {
  position: absolute;
  right: 110px;
  background: none;
  border: none;
  top: 35px;
  font-size: 2em;
}

.city-list div {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.city-list a {
  margin: 20px;
  color: #333;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.city-list a:hover {
  color: #e20001;
}

.city-list .active {
  background: #e20001;
  padding: 5px 10px;
  text-align: center;
  color: #fff !important;
}

.shares-list {
  margin-top: 20px;
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.shares-list::-webkit-scrollbar {
  display: none;
}

.shares-list .shares-items {
  overflow: hidden;
  position: relative;
  padding: 5px;
}

.shares-list .shares-items .shares-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 999;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shares-list .shares-items .shares-caption h5 {
  max-width: 70%;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.shares-list .shares-items:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shares-list .shares-image {
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.shares-list .image-overlay {
  position: absolute;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: rgba(0, 0, 0, 0.3);
}

.shares-list img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shares-list .shares-left {
  width: 60%;
}

.shares-list .shares-right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shares-list .shares-right .shares-items {
  height: 50%;
  width: 100%;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .item h4 {
  margin-bottom: 50px;
}

h4.section-title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
}

h4.section-title::before {
  position: absolute;
  bottom: -10px;
  width: 70px;
  content: "";
  height: 1px;
  background: #e20001;
}

.owl-dots {
  position: relative;
}

.owl-dots span {
  background: none !important;
  border: 1px solid #e20001;
}

.owl-dots .active span {
  background: #e20001 !important;
  position: relative;
}

.owl-dots .active span::after {
  position: absolute;
  content: "";
  border: 1px solid #e20001;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.more-btn {
  background: #e20001;
  color: #fbfbfb;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #e20001;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.more-btn:hover {
  color: #e20001;
  background: none;
}

.more-btn:disabled {
  background: #960001;
  color: #fbfbfb;
  opacity: .7;
}

.more-btn:disabled:hover {
  background: #960001;
  color: #fbfbfb;
  opacity: .7;
}

.scroll-wrapper {
  overflow-x: auto;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.inner-services {
  width: 100%;
}

.inner-services .service-link {
  color: #0b2a49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner-services .service-link img {
  max-width: 120px;
  height: 70px;
  margin: 10px auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.inner-services .service-link h5 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.inner-services .service-link:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.inner-services .service-link:hover h5 {
  color: #e20001;
}

.partner-link {
  padding: 5px;
}

.partner-link img {
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid transparent;
  border-radius: 50%;
}

.partner-link:hover img {
  border: 1px solid #e20001;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.partners h5 {
  font-size: 1.1em;
}

.unired-mobile-section img {
  width: 100%;
}

.unired-mobile-section h4 {
  color: #e20001;
}

.unired-mobile-section h4::before {
  content: unset;
}

.unired-mobile-section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unired-mobile-section button:hover path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  fill: #e20001 !important;
}

.unired-mobile-section button svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  fill: #fff;
  margin-right: 10px;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 30px 0;
}

.footer .phone-numbers h5 {
  font-weight: 600;
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footer .social-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .social-icons li:hover {
  border: 1px solid #0b2a49;
}

.footer .social-icons img {
  width: 20px;
}

.be-partner .subtitle {
  color: #999;
}

.be-partner h4,
.shares h4 {
  font-size: 1.3em;
  font-weight: 700;
  color: #e20001;
  margin: 30px 0;
}

.shares .inner-share {
  width: 100%;
}

.shares .inner-share div {
  overflow: hidden;
}

.shares .inner-share img {
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shares .inner-share:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.shares .inner-share:hover h6 {
  color: #e20001;
}

.shares .inner-share h6 {
  color: #0b2a49;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shares .inner-shares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shares .inner-shares a {
  width: 25%;
  padding: 0 15px;
  display: block;
}

.shares .inner-shares a div {
  overflow: hidden;
}

.shares .inner-shares a img {
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.shares .inner-shares a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shares .inner-shares a h6 {
  color: #0b2a49;
  padding: 15px;
  text-align: center;
}

.shares .inner-shares a:hover h6 {
  color: #e20001;
}

.pagination {
  margin: 30px 0;
}

.page-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-link {
  text-align: center;
  color: #e20001;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.page-link svg {
  width: 20px;
}

.page-link:hover {
  color: #c90001;
}

.page-item.active .page-link {
  background: #e20001;
  color: #fff;
  border-color: #e20001;
}

.page-item:last-child .page-link {
  border-radius: 0 20px 20px 0;
  width: 45px;
}

.page-item:first-child .page-link {
  border-radius: 20px 0 0 20px;
  width: 45px;
}

.thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.thumbnails::-webkit-scrollbar {
  margin-top: 10px;
  height: 5px;
}

.thumbnails::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 50px;
}

.thumbnails::-webkit-scrollbar-thumb {
  background: #e20001;
  border-radius: 50px;
}

.thumbnails img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  opacity: 0.7;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  margin: 10px 10px 0 0;
}

.mainImg {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainImg img {
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 99;
}

.mainImg:hover img {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  cursor: pointer;
}

.thumbnails .active {
  opacity: 1;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.image-modal {
  position: fixed;
  z-index: 99999;
  left: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  display: none;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.image-modal .modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.image-modal img {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90vh;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 99;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links a {
  margin: 0 5px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

.social-links a:hover {
  border: 1px solid #0b2a49;
}

.social-links img {
  width: 20px;
}

.info-page h4 {
  font-weight: 700;
  color: #e20001;
  margin-bottom: 20px;
}

.info-page p {
  color: #0b2a49;
}

.table-tariff {
  width: 100%;
}

.table-tariff th {
  padding: 10px 20px;
  background-color: #e20001;
  color: #fff;
  font-weight: 500;
}

.table-tariff td {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.table-tariff tr:hover {
  background-color: #f0f0f0;
}

.my-carousel {
  width: 100% !important;
}

.my-carousel .carousel-inner,
.my-carousel .carousel-item {
  height: 100%;
}

.my-carousel img {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -o-object-fit: cover;
     object-fit: cover;
}

.my-carousel .carousel-caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  bottom: auto;
}

.my-carousel .carousel-caption p {
  width: 50%;
}

#accordion .card {
  border-radius: 0;
  margin: 3px 0;
}

#accordion .card-header {
  border-radius: 0;
  background-color: #f9f9f9;
  border-bottom: 0;
}

#accordion .card-link {
  color: #0b2a49;
  font-weight: 600;
  display: block;
  position: relative;
}

#accordion .card-link:after {
  content: " ";
  /* fa-chevron-down */
  position: absolute;
  background: url(../image/icons/chevron-down.svg);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-position: center;
  background-size: contain;
}

#accordion .card-link[aria-expanded="true"]:after {
  content: " ";
  position: absolute;
  background: url(../image/icons/chevron-up.svg);
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-position: center;
  background-size: contain;
  /* fa-chevron-up */
}

#accordion .card .card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#accordion > a:after {
  content: url(../image/icons/chevron-down.svg);
  /* fa-chevron-down */
  position: absolute;
  right: 0;
}

#accordion > a[aria-expanded="true"]:after {
  content: url(../image/icons/chevron-up.svg);
  /* fa-chevron-up */
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0 0 50px 0;
  width: 25%;
}

.category-list li {
  margin: 5px 0;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

.category-list li:first-child {
  border-top: 1px solid #ccc;
}

.category-list li img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.category-list li a {
  color: #0b2a49;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.category-list li a:hover {
  color: #e20001;
}

.category-list li .active {
  color: #e20001;
  width: 100%;
  position: relative;
}

.category-list li .active::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-size: contain;
  right: 5px;
  background-repeat: no-repeat;
  background-image: url(../image/icons/chevron-right1.svg);
}

.partners-main {
  width: calc(75% - 40px);
  margin-left: 40px;
  position: relative;
}

.partners-main h5 img {
  width: 50px;
  margin-right: 10px;
}

.partners-main h6 a {
  color: #0b2a49;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.partners-main h6 a:hover {
  color: #e20001;
}

.search-partner {
  position: relative;
}

.search-partner img {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5em;
}

.search-partner input {
  width: 100%;
  padding: 10px 10px 10px 45px;
  border-radius: 0;
  border: none;
  background-color: #eeeeee;
  outline: none;
}

#searchResults {
  position: absolute;
  background-color: #fff;
  width: 100%;
  z-index: 99;
  margin: 10px 0;
}

#searchResults ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#searchResults ul a {
  display: block;
  background-color: #fff;
  padding: 10px 20px;
  color: #0b2a49;
  font-weight: 600;
  margin: 2px 0;
}

#searchResults ul img {
  width: 40px;
  height: 40px;
  padding: 2px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

#listOfPartners {
  width: 100%;
  z-index: 99;
  margin: 10px 0;
}

#listOfPartners ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#listOfPartners ul li {
  margin: 4px;
  width: calc(33.333333333% - 8px);
  text-align: center;
}

#listOfPartners ul a {
  display: block;
  background-color: #eeeeee;
  padding: 10px;
  color: #0b2a49;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#listOfPartners ul a:hover {
  color: #e20001;
  -webkit-box-shadow: inset 0 0 4px 1px #ccc;
          box-shadow: inset 0 0 4px 1px #ccc;
}

#listOfPartners ul img {
  width: 70px;
  height: 70px;
  padding: 2px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 80vh;
  min-height: 300px;
  position: relative;
  left: 0;
  top: 0;
}

.map-call-btn {
  border: 1px solid #e20001;
  padding: 5px 20px;
  color: #e20001;
  background: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.map-call-btn:hover {
  background: #e20001;
  color: #fff;
}

.input-group {
  position: relative;
  margin: 10px 0;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  border: none;
  background-color: #eeeeee;
  outline: none;
  border: 1px solid transparent;
}

.input-group input::-webkit-outer-spin-button, .input-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group input[type="number"] {
  -moz-appearance: textfield;
}

.input-group label {
  color: #999;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-group label span {
  color: inherit;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 14px;
  color: #333;
  padding: 0 3px;
  background: #f9f9f9;
}

.input-group input:focus + label span,
.input-group input:valid + label span {
  color: #e20001;
}

.input-group input:focus,
.input-group input:valid {
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #333;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  outline: none;
}

.radio-cards1-input {
  display: none;
}

.radio-cards1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio-cards1 label {
  width: calc(25% - 10px);
  margin: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.radio-cards1 label:hover {
  cursor: pointer;
  color: #e20001;
}

.radio-cards1-inner {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px 5px;
  font-size: 0.9em;
}

.radio-cards1-input:checked + .radio-cards1-inner {
  -webkit-box-shadow: 0 0 1px 1px #e20001;
          box-shadow: 0 0 1px 1px #e20001;
  color: #e20001;
}

.services-of-company textarea {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  resize: none;
  border: 1px solid transparent;
  background-color: #eeeeee;
  outline: none;
}

.services-of-company textarea:focus {
  color: #333;
  background: #f9f9f9;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #333;
}

.service-type label {
  width: calc(33.333% - 10px);
}

#imgshow {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 15px;
}

.logo-upload label {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #333;
  padding: 10px;
}

.logo-upload label:hover {
  color: #fff;
  background-color: #e20001;
}

.captcha-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.captcha #refresh {
  width: 30px;
  height: 30px;
  background: url(../image/icons/refresh-cw.png) center center no-repeat;
  border: none;
  outline: none;
}

.captcha #txtInput {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  border: none;
  background-color: #eeeeee;
  outline: none;
  border: 1px solid transparent;
}

.captcha #txtInput:focus {
  color: #333;
  background: #f9f9f9;
  outline: none;
  background-color: #f9f9f9;
  border: 1px solid #333;
}

@media only screen and (min-width: 1025px) {
  .my-carousel {
    height: 70vh;
  }
  .be-partner form .row {
    margin: 0 -30px;
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .subnav {
    display: none;
  }
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: .5rem 1rem;
  }
  .navbar .row {
    margin: 0;
  }
  .be-partner .row {
    margin: 0;
  }
  .be-partner form .row {
    margin: 0 -15px;
  }
  .city-list {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transform: none;
            transform: none;
    position: fixed;
    padding: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .city-list h2 {
    font-size: 1.5em;
    margin-top: 30px;
  }
  .city-list button {
    top: 10px;
    right: 30px;
  }
  .city-list div a {
    width: calc(50% - 30px);
    margin: 15px;
  }
  .shares-list {
    overflow-x: scroll;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 20px 15px 0;
  }
  .shares-list .shares-left {
    width: 300px;
  }
  .shares-list .shares-right {
    display: -webkit-box;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .shares-list .shares-right .shares-items {
    height: 100%;
    width: 300px;
  }
  .shares-list .shares-items .shares-caption {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    left: 0;
  }
  .shares-list .shares-items .shares-caption h5 {
    font-size: 1em;
    font-weight: 400;
    max-width: 80%;
    margin-bottom: 10px;
  }
  .shares .inner-shares a {
    width: 33.333333%;
  }
  .my-carousel {
    height: 100%;
  }
  .my-carousel .carousel-caption p {
    width: 100%;
    font-size: .8em;
  }
  .my-carousel .carousel-caption h5 {
    font-size: 1em;
  }
  #accordion .card-link {
    font-size: .9em;
    padding-right: 25px;
  }
  .category-list li img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .partners-main {
    width: calc(70% - 25px);
    margin-left: 25px;
  }
  .category-list {
    width: 30%;
  }
  .category-list li a {
    font-size: .7em;
  }
  #listOfPartners ul li {
    width: calc(50% - 8px);
  }
  .radio-cards1 label {
    width: calc(50% - 10px);
  }
  .be-partner .subtitle {
    font-size: .9em;
  }
}

@media only screen and (max-width: 768px) {
  .application-btn img {
    padding: 0;
  }
  .owl-carousel .item h4.carousel-title {
    font-size: 1.2em;
  }
  .owl-carousel .item h4 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .more-btn {
    font-size: .8em;
    padding: 5px 30px;
  }
  .shares-list {
    overflow-x: scroll;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 20px 15px 0;
  }
  .shares-list .shares-left {
    width: 200px;
  }
  .shares-list .shares-right {
    display: -webkit-box;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .shares-list .shares-right .shares-items {
    height: 100%;
    width: 200px;
  }
  .shares-list .shares-items .shares-caption {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    left: 0;
  }
  .shares-list .shares-items .shares-caption h5 {
    font-size: .9em;
    font-weight: 400;
    max-width: 90%;
    margin-bottom: 10px;
  }
  .inner-services .service-link img {
    height: 50px;
  }
  h4.section-title {
    font-size: 1.25em !important;
    width: 100%;
  }
  .become-partners h4 {
    font-size: 1em;
  }
  .btn-grp button {
    margin: 5px auto;
  }
  .application-btn {
    width: 40px;
    height: 40px;
  }
  .shares .inner-shares a {
    width: 50%;
  }
  .shares .inner-shares a h6 {
    font-size: 0.9em;
  }
  .table-tariff {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  #listOfPartners ul img {
    width: 50px;
    height: 50px;
  }
  #listOfPartners ul p {
    font-size: .7em;
  }
}

@media only screen and (max-width: 576px) {
  h4.section-title {
    font-size: 0.9em !important;
  }
  .my-carousel {
    height: 40vh;
  }
  .my-carousel img {
    height: 100%;
  }
  .application-btn img {
    padding: 0;
  }
  .category-list li img {
    margin: 5px auto;
    width: 20px;
    height: 20px;
    display: block;
  }
  .partners-main {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 15px;
  }
  .partners-main h5 {
    font-size: 1em;
  }
  .category-list {
    width: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 15px 0;
    background-color: #fff;
  }
  .category-list li {
    text-align: center;
    border: 0.5px solid #eee;
    margin: 0;
    width: 33.333333%;
    padding: 10px;
  }
  .category-list li a {
    font-size: .6em;
  }
  .category-list li .active::after {
    display: none;
  }
  .category-list li:first-child {
    border: .5px solid #eee;
  }
  .categories-mobile .partners-main {
    display: none;
  }
  .partners-list .category-list, .branch-item .category-list {
    display: none;
  }
  .be-partner .subtitle {
    margin-top: 15px;
  }
  .input-group label {
    font-size: .85em;
  }
  .input-group input:focus + label,
  .input-group input:valid + label {
    font-size: 13px;
  }
}

@media only screen and (max-width: 350px) {
  .category-list li a {
    font-size: .5em;
  }
  .input-group label {
    font-size: .75em;
  }
  .input-group input:focus + label,
  .input-group input:valid + label {
    font-size: 11px;
    top: -8px;
  }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .shares-list .shares-left {
    width: 300px;
  }
  .shares-list .shares-right {
    display: -webkit-box;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
  .shares-list .shares-right .shares-items {
    height: 100%;
    width: 300px;
  }
  .shares-list .shares-items .shares-caption {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    left: 0;
  }
  .shares-list .shares-items .shares-caption h5 {
    font-size: 1em;
    font-weight: 400;
    max-width: 80%;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */